{% extends "AppWeb/padre.html" %}

{%load static %}

{% block contenido %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center mt-4">
        <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Aquí podrás encontrar todas las opciones de comidas que tenemos para ti</h1>
        <img src="{% static 'AppWeb/assets/img/ShinyBurger.gif' %}" alt="Shiny Burger" style="max-height: 500px;">
    </div>
    <br>
    <hr>
    <div class="text-center text-dark">
    {% for comida in object_list %}
        <p>{{ comida.nombre }} .......... {{ comida.descripcion }} .......... ${{ comida.precio }}</p>
        <hr>
    {% endfor %}
    </div>
    <br>
    <div class="d-flex justify-content-center">
        {% if user.is_staff %}
        <a href="/agregarComida/" class="btn btn-primary btn-xl" id="submitButton" style="margin-right: 20px">Agregar Comida</a>
        {% endif %}
        <a href="/buscarComida/" class="btn btn-primary btn-xl" id="submitButton">Buscar Comida</a>
    </div>
    <br>
    <br>

{% endblock %}