{% extends "AppWeb/padre.html" %}

{%load static %}

{% block contenido %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center mt-4">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Actualicemos esta opción de postre</h2>
    </div>
    <br>
    <br>
    <div class="text-center text-success">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
    </div>
    <br>
    <br>

{% endblock %}