{% extends "AppWeb/padre.html" %}

{% load static %}

{% block contenido %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center mt-4">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Agreguemos la opción de postre que prefieres</h2>
    </div>
    <br>
    <br>
    <div class="text-center text-success">
        <form action="{% url 'agregarPostre' %}" method="POST"> {% csrf_token %}

        {{form.as_p}}

        <input type="submit" value="Guardar" class="btn btn-primary">
    </form>
    </div>
    <br>
    <br>

{% endblock %}