{% extends "AppWeb/padre.html" %}

{%load static %}

{% block contenido %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center mt-4">
        <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Aquí podrás encontrar todas las opciones de postres que tenemos para ti</h1>
        <img src="{% static 'AppWeb/assets/img/cupcake.gif' %}" alt="Cupcake" style="max-height: 500px;">
    </div>
    <br>
    <hr>
    <div class="text-center text-dark">
    {% for postre in postres %}
        <p>{{ postre.nombre }} .......... {{ postre.descripcion }} .......... ${{ postre.precio }}</p>
        <hr>
    {% endfor %}
    <br>
    <div class="d-flex justify-content-center">
        {% if user.is_staff %}
        <a href="/agregarPostre/" class="btn btn-primary btn-xl" id="submitButton" style="margin-right: 10px">Agregar Postre</a>
        {% endif %}
        <a href="/buscarPostre/" class="btn btn-primary btn-xl" id="submitButton">Buscar Postre</a>
    </div>
    <br>
    <br>
{% endblock %}