{% extends "AppWeb/padre.html" %}

{%load static %}

{% block contenido %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center mt-4">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Te ayudamos a buscar tu bebida preferida</h2>
    </div>
    <br>
    <br>

    <div class="text-center text-secondary">
    <form action="/resultadosBebida/" method="GET">

        Ingresa el nombre de la bebida que deseas buscar: <input type="text" name="nombre">

        <input type="submit" value="Buscar" class="btn btn-primary">
    </form>
    </div>
    <br>
    <div class="text-center text-success">
    <hr>

        {% for x in bebidas_b %}
            <p>{{ x.nombre }} .......... {{ x.descripcion }} .......... ${{ x.precio }} {% if user.is_staff %}.......... <a href="{% url 'actualizarBebida' x.id %}">Actualizar</a> .......... <a href="{% url 'eliminarBebida' x.id %}" class="eliminar-link">Eliminar</a> {% endif %} </p>
            <hr>
        {% endfor %}
    </div>

{% endblock %}